.nav {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

.navList {
    display: flex;
    align-items: center;
    height: 50px;
}

.navItem {
    display: inline-block;
    margin-right: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover {
    text-decoration: underline;
}
